h1, h2, h3, h4, h5, h6{
	color:$color-title;
	font-family: $fonts-secundaryRegular;
	@include no-selector();
}

h1{
	font-size: 3rem;
}

.card{
	border: none;
	transition: box-shadow .3s;
	width: 15rem;

	&:hover{
		-webkit-box-shadow: 20px 20px 20px 0 rgba(225,225,225,.7);
		-moz-box-shadow: 20px 20px 20px 0 rgba(225,225,225,.7);
		box-shadow: 20px 20px 20px 0 rgba(225,225,225,.7); 

		img{
			filter: grayscale(0%);
		}

	}

	img{
		filter: grayscale(80%);
	}

	.btn{
		border: none !important;

		&:active, &:hover, &:focus{
			border: none !important;
			box-shadow: none !important;
		}
	}

	.btn-primary{
		background-color: $color-black;
		color: $color-white;
		font-size: .8rem;

		&:hover{
			background-color: $color-rosa !important;
			color: $color-black;
		} 
	}
}

.font-bold{
	font-family: $fonts-secundaryBold !important;
	font-weight: bold;
}

.font-secondary{
	font-family: $fonts-secundaryRegular;
}

hr{
	border-bottom: 1px solid $color-rosa;
}

p{
	font-size: 1rem;
	font-family: $fonts-primaryRegular;
	@include no-selector();
}

.p{
	@include no-selector();
	@include p();
}

.bg-size-80{
	height: 80vh;
}

.bg-size-55{
	height: 55vh;
}

.bg-size-30{
	height: 30vh;
}

.color-title{
	color: $color-title;
}

.iconContact{
	@include icon-contact();
	margin-right: 1rem;
}

.color-subtitle{
	color: $color-subtitle;
}

.bg-beight{
	background-color: $color-background;
}

 .nav-tabs .nav-link {
    border: none !important;
    border-top-left-radius: none !important;
    border-top-right-radius: none !important;
    border: 3px solid transparent !important;
    margin: 0 1rem;
}


.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    background-color: transparent;
    border: 3px solid transparent !important;
    border-bottom: 3px solid $color-subtitle !important;
}

.nav-link{
	color: $color-black !important;
	font-family: $fonts-primaryBold;
	border-bottom: 3px solid transparent !important;
	margin: 0 1rem;

	&:active, &:hover, &:focus{
		color: #706d6d !important;
		border-bottom: 3px solid $color-subtitle !important;
	}
}

//::::::::::::::; Navbar + Header

.img-header{
	height: 100vh;
}

.img-headerProjects{
	height: 50vh;
}

.img-headerContact{
	height: 80vh;
}

.img-header, .img-headerProjects, .img-headerContact {
	background-color: $color-background;

	.navbar-toggler {
	    background-color: $color-title;
	    border: 1px solid $color-title;
	}
	
	.text-nexttitle{
		font-size: 1.5rem;
		color: $color-subtitle;
		font-family: $fonts-secundaryRegular;
	}
	
	.text-description{
		color: $color-black;
		text-align: justify;
	}

	.icon-black{
		font-size: 2.7rem;
		color: $color-black;
		cursor: pointer;

		&:hover{
			color: $color-rosa !important;
		}
	}
}

//::::::::::::::; Interests

#interests {
	.icon{
		@include icon-title();
	}
}

//::::::::::::::; Formation

#formacion{
	.p-bajada{
		font-size: 1.2rem;
		color: $color-subtitle;
		margin-bottom: 2rem;
		font-family: $fonts-secundaryRegular;
	}

	.img-uft{
		background-image: url("img/logo-uft.png");
		@include base-logo-formation();
	}

	.img-laboratoria{
		background-image: url("img/logo-laboratoria.png");
		@include base-logo-formation();
	}
}

//::::::::::::::; Skills

#skills{
	.base-logoSkills{
		@include logo-skills();
		@include no-selector();
	}

	.logo-html{
		background-image: url("img/logo-html.png");
	}
	.logo-css{
		background-image: url("img/logo-css.png");
	}
	.logo-bootstrap{
		background-image: url("img/logo-bootstrap.png");
	}
	.logo-sass{
		background-image: url("img/logo-sass.png");
	}
	.logo-agile{
		background-image: url("img/logo-agile.png");
	}
	.logo-mailchimp{
		background-image: url("img/logo-mailchimp.png");
	}
	.logo-ps{
		background-image: url("img/logo-ps.png");
	}
	.logo-ai{
		background-image: url("img/logo-ai.png");
	}
	.logo-ae{
		background-image: url("img/logo-ae.png");
	}
	.logo-xd{
		background-image: url("img/logo-xd.png");
	}
	.logo-pr{
		background-image: url("img/logo-pr.png");
	}
	.logo-id{
		background-image: url("img/logo-id.png");
	}
}