h1{
	color:$color-title;
	font-size: 3rem;
	font-family: $fonts-secundaryRegular;
}

p{
	font-size: 1rem;
}

.img-header {
	height: 100vh;
	background-color: #e6e7e8;
	
	.text-nexttitle{
		font-size: 1.5rem;
		color: $color-subtitle;
	}
	
	.text-description{
		color: $color-black;
	}

	.img-aboutMe {
		background-image: url("img/imgAboutMe.png");
		height: 87.2vh;
		background-position: right;
	    background-repeat: no-repeat;
	    background-size: contain;
	}
}