// @media query

// Extra small devices (portrait phones, less than 576px) ---> xs
@media (max-width: 575.98px) {

}

// Small devices (landscape phones, 576px and up) ---> sm
@media (min-width: 576px) and (max-width: 767.98px) {

}

// Medium devices (tablets, 768px and up) ---> md
@media (min-width: 768px) and (max-width: 991.98px) {
	.img-aboutMe {
		background-image: url("img/bg-img-aboutMe.png");
		background-position: right;
		background-repeat: no-repeat;
		background-size: contain;
	}
}

// Large devices (desktops, 992px and up) ---> lg
@media (min-width: 992px) and (max-width: 1199.98px) {
	.img-aboutMe {
		background-image: url("img/bg-img-aboutMe.png");
		background-position: right;
		background-repeat: no-repeat;
		background-size: contain;
	}
}

// Extra large devices (large desktops, 1200px and up) ---> xl
@media (min-width: 1200px) {
	.img-aboutMe {
		background-image: url("img/bg-img-aboutMe.png");
		background-position: right;
		background-repeat: no-repeat;
		background-size: contain;
	}
}