// Extra small devices (portrait phones, less than 576px) ---> xs
@media (min-width: 320px) and (max-width: 575.98px) {
	.navbar-collapse{
    	text-align: center !important;
    	color: $color-subtitle !important;
    	font-family: $fonts-secundaryRegular;
	}

	.img-header, .img-headerContact, .img-headerProjects{
		height: 100% !important;
		padding: 0 0 2rem 0;
	}
	
	.nav-link-xs{
		font-size: 0.8rem !important;
    	padding: .5rem .3rem !important;
	}

	.mr-5, .mx-5{
		margin-right: 1rem!important;
	}
	
	h1{
		font-size: 2rem !important;
	}

	p, .text-description{
    	font-size: .85rem !important;
	}

	#interests {
		.icon {
		    font-size: 2rem !important;
		    padding: 0 !important;
		}
	}

	.a-header{
		padding-top: 2rem !important;
	}
	
	.d-xs-none{
		display: none !important;
	}

	#skills {
		.base-logoSkills{
			margin-bottom: 3rem !important;
		}
	}
	
	.bg-size-80{
		    height: 60vh !important;
	}

	.img-headerContact{
		.bg-size-55{
			height: 40vh !important;
		}

		.img-xs-contact{
			width: 95%;
			height: auto;
		}
	}
	
	
	#sectionProjectsProcess{
		.justify-content-center{
			img{
				width: 80%;
				height: auto;
			}
		}

		.d-xs-block {
			display: block !important;
		}
	}
	
}

// Small devices (landscape phones, 576px and up) ---> sm
@media (min-width: 576px) and (max-width: 767.98px) {
	.d-all-none{
		display: none !important;
	}

	.img-header, .img-headerContact, .img-headerProjects{
		height: 100% !important;
		padding: 0 0 2rem 0;
	}
}

// Medium devices (tablets, 768px and up) ---> md
@media (min-width: 768px) and (max-width: 991.98px) {
	.img-aboutMe {
		background-image: url("Img/bg-img-aboutMe.png");
		background-position: right;
		background-repeat: no-repeat;
		background-size: contain;
	}

	.d-all-none{
		display: none !important;
	}

	.p-2{
		padding: 1rem 0!important;
	}

	.img-headerProjects .icon-black{
		font-size: 2rem !important;
	}

	.img-header, .img-headerContact, .img-headerProjects{
		height: 100% !important;
		padding: 0 0 2rem 0;
	}
}

// Large devices (desktops, 992px and up) ---> lg
@media (min-width: 992px) and (max-width: 1199.98px) {
	.img-aboutMe {
		background-image: url("Img/bg-img-aboutMe.png");
		background-position: right;
		background-repeat: no-repeat;
		background-size: contain;
	}

	.d-all-none{
		display: none !important;
	}
}

// Extra large devices (large desktops, 1200px and up) ---> xl
@media (min-width: 1200px) {
	.img-aboutMe {
		background-image: url("Img/bg-img-aboutMe.png");
		background-position: right;
		background-repeat: no-repeat;
		background-size: contain;
	}

	.d-all-none{
		display: none !important;
	}
}