@mixin p(){
	text-align: justify;
	color: $color-beight;
}

@mixin icon-title(){
	font-size: 2.7rem;
	color: $color-title;
	padding: 0.1rem 1rem;
}

@mixin icon-contact(){
	font-size: 1.2rem;
	color: $color-title;
}

@mixin base-logo-formation(){
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	height: 4rem;
}

@mixin logo-skills(){
	width: 4rem;
	height: 4rem;
	margin: auto;
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
}

@mixin base-imgProjects(){
	width: auto;
    height: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
}

@mixin no-selector(){
	-webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select:none;
}

@mixin fontPrimary (){
	font-family: 'Poppins', sans-serif;
	font-family: 'Questrial', sans-serif;
	font-family: 'Muli', sans-serif;
	font-family: 'Quicksand', sans-serif;
}

@mixin fontSecondary(){
	font-family: 'Average Sans', sans-serif;
	font-family: 'IBM Plex Sans', sans-serif;
	font-family: 'Encode Sans', sans-serif;
	font-family: 'Martel Sans', sans-serif;
}