// Colores Primarios
$color-title: #731615;
$color-subtitle: #A5321C;
$color-black: #000000;
$color-white: #ffffff;
// Colores Secundarios
$color-background: #ebeced;
$color-beight: #A59286; // fonts
$color-rosa: #F7A9B0;

// Tipografias
$fonts-primaryRegular: 'poppinsregular', 'Poppins', 'Questrial', 'Muli', 'Quicksand', sans-serif;
$fonts-primaryLight: 'poppinslight', 'Poppins', 'Questrial', 'Muli', 'Quicksand', sans-serif;
$fonts-primaryBold: 'poppinsbold', 'Poppins', 'Questrial', 'Muli', 'Quicksand', sans-serif;

$fonts-secundaryRegular: 'athelasregular', 'Average Sans', 'Encode Sans', 'IBM Plex Sans', 'Martel Sans', sans-serif;
$fonts-secundaryBold: 'athelasbold', 'Average Sans', 'Encode Sans', 'IBM Plex Sans', 'Martel Sans', sans-serif;

// Font Family

// Poppins
@font-face {
    font-family: 'poppinsregular';
    src: url('Fonts/poppins-regular-webfont.eot');
    src: url('Fonts/poppins-regular-webfont.woff') format('woff'),
    	 url('Fonts/poppins-regular-webfont.woff2') format('woff2'),
         url('Fonts/poppins-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'poppinsbold';
    src: url('Fonts/Poppins-Bold.eot');
    src: url('Fonts/Poppins-Bold.woff') format('woff'),
         url('Fonts/Poppins-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: bold;
}

@font-face {
    font-family: 'poppinslight';
    src: url('Fonts/Poppins-Light.eot');
    src: url('Fonts/Poppins-Light.woff') format('woff'),
     	 url('Fonts/poppins-light-webfont.woff2') format('woff2'),
         url('Fonts/Poppins-Light.ttf') format('truetype');
    font-weight: lighter;
    font-style: lighter;
}

// Athelas
@font-face {
    font-family: 'athelasregular';
    src: url('Fonts/athelas-regular-webfont.eot');
    src: url('Fonts/athelas-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('Fonts/athelas-regular-webfont.woff2') format('woff2'),
         url('Fonts/athelas-regular-webfont.woff') format('woff'),
         url('Fonts/athelas-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'athelasbold';
    src: url('Fonts/Athelas-Bold-04.ttf') format('truetype');
    font-weight: bold;
    font-style: bold;
}
